@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /* Fonts */
  --outfit: Outfit;
}

body {
  font-family: var(--outfit);
  background: var(--light-gray);
  max-width: 1280px;
  margin: auto;
  display: grid;
  place-content: center;
  height: 100vh;
}

img {
  max-width: 100%;
}

.qr-component-container {
  background: var(--white);
  width: 90%;
  max-width: 22.5rem;
  padding: 1.1rem;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.qr-code-img {
  border-radius: 15px;
}

.qr-component-message {
  padding-inline: 0.8rem;
}

.qr-component-message-title {
  font-size: 23px;
  color: hsl(218, 44%, 22%);
}

.qr-component-message-instructions {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.qr-code-img,
.qr-component-message-title,
.qr-component-message-instructions {
  margin-bottom: 1.2rem;
}
